.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.logo {
  width: 200px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.logo:hover {
  transform: rotate(-5deg);
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 1rem;
}

.profile-button-container {
  position: absolute;
  right: 1rem;  
  transform: translateY(-50%);
}
