/* ...loading */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    background-color: #f4f4f4;
}



/* added to your cart */
.added-to-cart-modal {
    background-color: #FFEBE8; /* Pastel pink */
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: bounce 0.5s forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.added-to-cart-modal p {
    font-weight: bold;
    color: #FF6B83;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.added-to-cart-modal .add-cart-emoji {
    font-size: 1.5em;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, -50%) scale(0.9);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.05);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

/* detail */
.detailed-page {
    display: flex;
    padding: 20px;
    background-color: #eef2f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 40px auto;
    align-items: center;

    position: relative;

    flex-direction: column;
}

.product-main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.added-to-cart-popup {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: gold;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
  }


.product-image-container video, .product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.preview-image video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.product-image-container {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.product-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.preview-images {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
}

.preview-image {
    width: calc(33.33% - 10px);
    height: calc(33.33% - 10px);
    cursor: pointer;
    transition: transform 0.3s ease;
    display: grid;
    place-items: center;
    overflow: hidden;
    border: 1px solid #ccc;
}

.preview-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.preview-image:hover {
    transform: scale(1.1);
}

.product-details {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
}

.product-header {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    /* justify-content: space-between; */
}

.product-header h1 {
    font-size: 32px;
    margin: 0;
    color: #333;
    text-align: center;
    flex-grow: 1;
    margin-right: 10px;
}

.product-price {
    padding: 0px 10px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.product-description {
    padding: 0px 10px;
    font-size: 18px;
    color: #555;
    margin: 20px 0;
}

.product-order-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.product-order-section label {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}

.product-order-section input {
    width: 100%;
    /* width: 50px; */
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.quantity-section {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.product-order-section label {
    font-weight: bold;
    color: #000000;
    margin-right: 10px;
}

.product-order-section input {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* landing */

.category-description {
    color:grey;
    text-align: center;
    font-size: 1.2em;
    margin: 20px 60px;
}

.product-navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.product-navigation a {
    color: red;
    text-decoration: none;
}

.product-navigation .active {
    color: black;
}

.product-navigation a:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
}

.landing-page-centered-title {
    color: #ff4262;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.landing-page-centered-description {
    color:grey;
    font-size: 1.2em;
    text-align: center;
    margin: 20px 60px;
}

.product-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    list-style: none;
    padding: 0;
    max-width: 1000px;
    margin: 20px auto ;
}

.product-list-info{
    display: inline-block;
}

.outer-container-Update-Delete-Buttons{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.product-list-name {
    text-align: center;
    margin-top: 10px;
}

.product-list-price {
    text-align: center;
    margin-top: 5px;
}

.product-preview {
    width: 100%;
    max-width: 300px;
    height: 300px;
    border: 1px solid #000000;
    margin-bottom: 0.5rem;
    position: relative;
    overflow: hidden;
    margin: auto;
    display: block;

    align-items: center;
    justify-content: center;
}

.product-preview img, .product-preview video {
    position: initial;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.product-preview video {
    max-height: 300px;
}

.add-to-cart-button {
    background-color: #00bfff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.add-to-cart-button:hover {
    background-color: #009acd;
}


/* manage */
.manage-section{
    margin:10px;
}

.manage-products {
    margin-bottom: 20px;
}

.Update-Delete-Buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.delete-button-for-product{
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #ff4262;
    color: white;
    padding: 5px;
    box-shadow: 5px 5px 5px;
    width:fit-content;
  }

  .manage-product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.manage-product-name {
    text-align: center;
    margin-top: 10px;
}

.manage-product-price {
    text-align: center;
    margin-top: 5px;
}

.manage-product-preview {
    width: 100%;
    max-width: 300px;
    height: 300px;
    border: 1px solid #000000;
    margin-bottom: 0.5rem;
    position: relative;
    overflow: hidden;
    margin: auto;
    display: block;

    align-items: center;
    justify-content: center;
}

.manage-product-preview img, .manage-product-preview video {
    position: initial;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.manage-product-preview video {
    max-height: 300px;
}
/* delete confirmation */
.delete-product-confirmation-container {
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 20px 0;
  }

  .delete-product-confirmation-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .delete-product-confirmation-text {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .delete-product-confirmation-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .delete-button, .cancel-button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .delete-button {
    background-color: #e74c3c;
  }

  .delete-button:hover {
    background-color: #c0392b;
    transform: translateY(-2px);
  }

  .cancel-button {
    background-color: #7f8c8d;
  }

  .cancel-button:hover {
    background-color: #626e77;
    transform: translateY(-2px);
  }

  .reviews-section {
    width: 100%;
    margin-top: 20px;
}

/* favorite button */

.favorite-button {
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.favorite-button .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
}

.favorite-button .icon .star {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}

.favorite-button.active {
    background-color: #000;
    color: #FFD700;
    transform: scale(1.2);
}

.favorite-button.active .icon .star {
    background-color: #FFD700;
}

/* review list */
.spot-rating-under-detailed-page {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.spot-rating-under-detailed-page i.fa-solid {
    color: gold;
    font-size: 1em;
    margin-right: 8px;
}

.avgrating-in-detail{
    font-size: 2em;
}

.reviews-count {
    font-size: 2em;
    margin-left: 8px;
}

.post-your-review-in-detail {
    margin-top: 10px;
    background-color: #3498db;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

.post-your-review:hover {
    background-color: #2980b9;
}

.product-reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.review-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.review-content {
    flex: 1;
}

.review-username {
    font-size: 18px;
    margin: 0;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.review-text {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

.review-rating {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.review-media {
    max-width: 40%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-update {
    margin-top: 10px;
    background-color: #2ecc71;
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s;
}

.review-update:hover {
    background-color: #27ae60;
}


.review-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    transition: color 0.3s;
}

.review-delete:hover {
    color: #c0392b;
}
