.home-container {
    background-color: gold;
    padding: 20px;
    /* margin-bottom: 20px; */
    border-radius: 8px;
  }

  .home-container h1, .home-container h2 {
    color: lightcoral;
    margin-bottom: 10px;
}

.home-container h2.centered-content {
    color: white;
}

  .home-container p {
    color: white;
    margin-bottom: 15px;
  }

  .home-container button{
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: 0.3s;
    border-radius: 5px;
    font-weight: bold;
  }

.home-container button.shop-now {
    background-color: lightcoral;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .home-container button.shop-now:hover {
    background-color: #cd5c5c;
  }

  .home-container button.learn-more {
    background-color: lightblue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .home-container button.learn-more:hover {
    background-color: #87cefa;
  }

  .as-seen-on-container {
    color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .large-heading {
    font-size: 3em;
  }

  .centered-content {
    max-width: 50%;
    margin: 0 auto;
  }
