/* ...loading */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  background-color: #f4f4f4;
}

/* cart */
.cart-container {
  background-color: #eef2f7; /* Light blue background similar to the image */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif; /* You can replace this with a more suitable font */
}

.cart-container h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.product-preview {
  width: 320px;
  height: 240px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 20px;
  border: 1px solid #ccc;
}

.product-preview img, .product-preview video {
  max-width: 100%;
  height: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.cart-item strong {
  font-size: 18px;
  color: #333;
  flex: 1;
}

.cart-item button {
  background-color: #f44336; /* Red color for buttons */
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.cart-item button:hover {
  background-color: #d32f2f;
}

.cart-summary {
  margin-top: 20px;
  text-align: right;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.cart-summary p {
  margin: 5px 0;
  font-weight: bold;
}

.delete-button-for-product {
  text-align: center;
  margin-top: 20px;
}

/* Adjustments for input fields */
input[type="number"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
}
/* delete confirmation */
/* delete-confirmation-container */
.delete-product-confirmation-container {
    padding: 20px;
    text-align: center;
    border-radius: 4%;
    border: 4px solid black;
  }

  .delete-product-confirmation-title,
  .delete-product-confirmation-text {
    margin-bottom: 20px;
  }

  .delete-product-confirmation-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

  }


  .delete-button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width:90%;
    box-shadow: 5px 5px 5px#000000;
  }

  .cancel-button {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width:90%;
    box-shadow: 5px 5px 5px#000000;
  }
